
.form-wrapper {
    border-radius: 4px;
    padding: 70px;
    width: 450px;
    background: rgba(0, 0, 0, 0.75);
}

.choose-file-container {
    display: flex;
    flex-direction: column;
    color: white;

    
}