<div class="form-wrapper">
    <h2>Upload your Video</h2>
    <form #uploadForm enctype="multipart/form-data">
        <div class="form-control">
            <input #videoTitle type="text" [(ngModel)]="fileToUpload.title" [ngModelOptions]="{standalone: true}" required>
            <label>Video Name</label>
        </div>
        <div class="form-control">
            <input #videoDesc  type="text" [(ngModel)]="fileToUpload.description" [ngModelOptions]="{standalone: true}" required>
            <label>Video description</label>
        </div>
        <div class="choose-file-container">
            <input id="fileInput" type="file"  #fileInput required>
            <label for="fileInput">Select your video file</label>
        </div>
        <div class="file-info" #fileInfo>
            No file selected
            
        </div>
        <button type="submit">Upload</button>
        <button type="button" (click)="closeDialog()">Cancel</button>
    </form>
</div>
