
.form-wrapper {
    border-radius: 4px;
    padding: 70px;
    width: 450px;
    background: rgba(0, 0, 0, 0.75);
}

// .choose-file-container {
//     display: flex;
//     flex-direction: column;
//     color: white;

    
// }

/* Stil für den Dateieingabe-Container */
.choose-file-container {
    position: relative;
    margin-bottom: 20px; /* Platz unter dem Dateieingabe-Container */
    
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        cursor: pointer;
        background-color: #555;
    }
    
}

/* Stil für den Dateieingabe-Text */
.choose-file-container label {
    display: block;
    background-color: #333; /* Hintergrundfarbe */
    color: #fff; /* Textfarbe */
    padding: 10px 15px; /* Innenabstand */
    border-radius: 5px; /* Abrundung der Ecken */
    
}

/* Verstecke den tatsächlichen Dateieingabe-Button */
.choose-file-container input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    
   
    
}


.file-info {
    color: white;
}
