<div class="form-wrapper">
    <form [hidden]="!linkCorrect" #updatePasswordForm>
        <h2>Reset you password</h2>
        <div class="form-control">
            <input type="password" #newPassword required>
            <label>New Password</label>
        </div>
        <div class="form-control">
            <input type="password" #newPasswordConfirm required>
            <label>New Password Confirm</label>
        </div>
        <div class="update-password-spinner">
            <div *ngIf="updatePasswordInProgress" class="loader">
                <div class="orbe" style="--index: 0"></div>
                <div class="orbe" style="--index: 1"></div>
                <div class="orbe" style="--index: 2"></div>
                <div class="orbe" style="--index: 3"></div>
                <div class="orbe" style="--index: 4"></div>
            </div>
            <button *ngIf="!updatePasswordInProgress" type="submit">Change Password</button>
        </div>
    </form>
</div>