.form-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    padding: 70px;
    width: 450px;
    height: 625px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.75);
}

.update-password-spinner {
    display: flex;
    justify-content: center;
}