<header class="header">
    <div>
        <img src="./assets/img/logo.png">
    </div>
    <div>
        <nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel" >
            <a *ngFor="let link of headerLinks;let track link" mat-tab-link (click)="activeLink = link; openLink()"
                [active]="activeLink == link"> {{link}} </a>
        </nav>
        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    </div>
</header>

<main>
    <section [hidden]="videoListActive" class="view">
        <span>Video watching</span>
        <vg-player>
            <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls>
                <source [src]="singleVideoSource" type="video/mp4">
            </video>
        </vg-player>
          
    </section>

    <section [hidden]="!videoListActive" class="video-list">
        <div *ngFor="let user of users" class="single-list">
            <h2 class="text-white">Video´s from {{user.username}}</h2>
            <div class="video-preview">
                <div *ngIf="user.imageObject.length > 0" class="video-slider">
                    <ng-image-slider *ngIf="sliderReady" class="img-slider" #nav [images]="user.imageObject" [imagePopup]="false" [infinite]="false" [autoSlide]="500"
                       (imageClick)="showSingleVideo(user.imageObject[$event])" [imageSize]="{width: '25%', height: 250 }" slideImage="1"></ng-image-slider>
                </div>
                <div *ngIf="user.imageObject.length == 0" class="text-white">User uploaded no videos, sorry </div>
                <div *ngIf="user.username == sharedService.currentUser" class="add-video" (click)="openUploadDialog()">
                    +
                </div>
            </div>
        </div>
    </section>
</main>

<footer>
    <div>
        <img src="./assets/img/logo.png">
    </div>
    <div class="footer-links">
        <a href="data-protection">Data Protection</a>
        <a href="imprint">Imprint</a>
    </div>
</footer>