.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 1;

    img {
        height: 100px;
        width: 100px;
        object-fit: contain;

        &:hover {
            cursor: pointer;
        }
    }



}

a {
    color: white;
    font-size: 24px;
    font-weight: 800;

}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 1;

    img {
        height: 100px;
        width: 100px;
        object-fit: contain;

        &:hover {
            cursor: pointer;
        }
    }
}

main {
    position: relative;
    margin-top: 150px;
    z-index: 2;


    span {
        color: white;
    }
}