.header {
    position: absolute;
    height: 110px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 1;


    img {
        height: 100px;
        width: 100px;
        object-fit: contain;

        &:hover {
            cursor: pointer;
        }
    }



}

a {
    color: white;
    font-size: 24px;
    font-weight: 800;

}

footer {
    position: absolute;
    height: 110px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 1;
    

    img {
        height: 100px;
        width: 100px;
        object-fit: contain;

        &:hover {
            cursor: pointer;
        }
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 10px;

        a {
            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

main {
    position: relative;
    margin-top: 125px;
    z-index: 2;
    height: calc(100% - 250px) ; //remove height from header and footer

    span {
        color: white;
    }

}


.text-white {
    color: white;
}