<main>
    <section *ngIf="loadData"  class="video-list">
        <div  *ngFor="let user of sharedService.userContent" class="single-list">
            <h2 class="text-white">Video´s from {{user.username}}</h2>
            <div class="video-preview">
                <div *ngIf="user.imageObject.length > 0" class="video-slider" [ngStyle]="{ 'width': user.username === sharedService.currentUser ? '75%' : '100%' }">
                    <owl-carousel-o [options]="customOptions" (dragging)="isDragging = $event.dragging">
                        <ng-container *ngFor="let slideImage of user.imageObject; let i = index">
                            <ng-template carouselSlide [id]="">
                                <a class="hover-highlight" (click)="saveVideoAuthor(user.username)" [owlRouterLink]="['/show_video/' ,slideImage.title, '720p']"
                                    [stopLink]="isDragging"><img class="slide-img" [src]="slideImage.posterImage"
                                        [title]="slideImage.title"></a>
                                <h2 class="text-red">{{slideImage.title}}</h2>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
                <div *ngIf="user.imageObject.length == 0" class="text-white">User uploaded no videos, sorry </div>
                <div *ngIf="user.username == sharedService.currentUser" class="add-video" (click)="openUploadDialog()">
                    +
                </div>
            </div>
        </div>
    </section>
</main>