<header class="header">
    <div>
        <img src="./assets/img/logo.png">
    </div>
    <div>
        <nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel" >
            <a *ngFor="let link of headerLinks;let track link" mat-tab-link (click)="activeLink = link; openLink()"
                [active]="activeLink == link"> {{link}} </a>
        </nav>
        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    </div>
</header>

<main>
    <button (click)="videoListActive = !videoListActive">Toggle View</button>
    <section [hidden]="videoListActive" class="view">
        <span>Video watching</span>
        <vg-player>
            <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls>
                <source src="https://sanjayv.github.io/ng-image-slider/contents/assets/video/movie2.mp4" type="video/mp4">
            </video>
        </vg-player>
          
    </section>

    <section [hidden]="!videoListActive" class="video-list">
        <span class="text-white">Video List</span>
        <div *ngFor="let user of users">
            <h2 class="text-white">Video´s from {{user.username}}</h2>
            <div class="video-preview">
                <div class="video-slider">
                    <ng-image-slider class="img-slider" #nav [images]="imageObject" [infinite]="true" [autoSlide]="500"
                        [imageSize]="{width: '25%', height: 250 }" slideImage="1"></ng-image-slider>
                </div>
                <div class="add-video" (click)="openUploadDialog()">
                    +
                </div>
            </div>
        </div>
    </section>



</main>



<footer>
    <div>
        <img src="./assets/img/logo.png">
    </div>
    <div class="footer-links">
        <a href="data-protection">Data Protection</a>
        <a href="imprint">Imprint</a>
    </div>
</footer>