<div class="wrapper">
    <h2>Video Description</h2>

    <section *ngIf="descriptionText != ''" [hidden]="editMode" class="description-container">{{descriptionText}}</section>
    <section *ngIf="descriptionText == ''" [hidden]="editMode" class="description-container">No description for this Video.</section>
    <textarea [hidden]="!editMode" [(ngModel)]="descriptionText">{{descriptionText}}</textarea>
    
    <div class="btn-container">
        <button [hidden]="!editMode" (click)="updateDescription()">Save</button>
        <button [hidden]="editMode || !allowEdit" (click)="editMode = true">Edit</button>
        <button (click)="dialogRef.close()">Close</button>
    </div>
    

</div>