h1 {
  color: white;
}

.view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.player-container {
  max-width: 100%;
  width: 80%;
}

video {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.video-container{
  display: flex;
  z-index: 1;
}

.center-content {
  display: flex;
  justify-content: center;
}

.btn-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.control-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;

  button {
    width: 150px;
    height: 40px;
    background-color: #e50914;
    border: 1px solid #e50914;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #cc0000;
    }
  }

  .button {
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    border: 1px solid #e50914;
    background-color: #e50914;
    overflow: hidden;
  }

  .button[disabled] {
    cursor: not-allowed;
  }

  .button,
  .button__icon,
  .button__text {
    transition: all 0.3s;
  }

  .button .button__text {
    transform: translateX(35px);
  }

  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #cc0000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button .svg {
    width: 20px;
  }

  .button:hover {
    background: #cc0000;
  }

  .button:hover .button__text {
    color: transparent;
  }

  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }

  .button:active .button__icon {
    background-color: #b20000;
  }

  .button:active {
    border: 1px solid #b20000;
  }

}

@media(max-width:800px) {
  .view {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  h1{
    display: flex;
    justify-content: center;
  }

  .control-btn {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}